[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<3.0"
gunicorn = "*"
django-extensions = "*"
numpy = "*"
numexpr = "*"
pandas = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
xlwt = "*"
pyyaml = "*"
markdown = "*"
selenium = "*"
pysnmp = "*"
modbus-tk = "*"
xlrd = "*"
openpyxl = "*"
metar = "*"
django-lockdown = "*"

[dev-packages]

[requires]
python_version = "3.8"
