# Base requirements for deployment of BMON

# NOTE:  The pip Python package must be installed to use this
# requirements.txt file.

# Django is needed but it will be installed through the Webfaction control 
# panel
# Django==1.7.3

django-extensions==1.4.9

# numpy==1.9.1 must be installed prior to running this requirements file
# due to numexpr install requiring it.
# install numpy with:  
#     pip install -I --user numpy==1.9.1
# as is done in the "install_packages.sh" script.
numexpr==2.4.0

pandas==0.15.2
python-dateutil==2.2
pytz>=2013b
requests==2.5.1
xlwt==0.7.5
PyYAML==3.11
