# Base requirements for deployment of BMON

# NOTE:  The pip Python package must be installed to use this
# requirements.txt file.

Django==1.10.2

django-extensions==1.7.4

numpy==1.12.1 

numexpr==2.6.2

pandas==0.20.3
python-dateutil==2.2
pytz>=2013b
requests==2.5.1
xlwt==0.7.5
PyYAML==3.11
markdown==2.6.5
selenium>=2.53.2
pysnmp==4.3.5
modbus-tk==0.5.7
xlrd==1.1.0