# Base requirements for deployment of BMON.
# To use: pip install -r requirements.txt

# NOTE:  The pip Python package must be installed to use this
# requirements.txt file.

Django==2.2.21
django-extensions==2.1.6
numpy==1.16.2
numexpr==2.6.9
pandas==0.24.2
python-dateutil===2.8.0
pytz>=2018.9
requests==2.21.0
xlwt==1.3.0
PyYAML==5.1
Markdown==3.0.1
selenium==3.141.0
pysnmp==4.4.9
modbus-tk==0.5.11
xlrd==1.2.0
metar==1.7.0
lxml==4.3.2
django-lockdown==3.0.0
