<span id="averaging_time">
    Data Averaging:
    <input type="radio" id="avg_15min" value="0.25" name="averaging_time"/><label for="avg_15min" class="but_lbl">15 min</label>
    <input type="radio" id="avg_30min" value="0.5" name="averaging_time" checked/><label for="avg_30min" class="but_lbl">30 min</label>
    <input type="radio" id="avg_1hr" value="1" name="averaging_time"/><label for="avg_1hr" class="but_lbl">1 hr</label>
    <input type="radio" id="avg_2hr" value="2" name="averaging_time"/><label for="avg_2hr" class="but_lbl">2 hr</label>
    <input type="radio" id="avg_4hr" value="4" name="averaging_time"/><label for="avg_4hr" class="but_lbl">4 hr</label>
    <input type="radio" id="avg_8hr" value="8" name="averaging_time"/><label for="avg_8hr" class="but_lbl">8 hr</label>
    <input type="radio" id="avg_1da" value="24" name="averaging_time"/><label for="avg_1da" class="but_lbl">1 da</label>
    <input type="radio" id="avg_1wk" value="168" name="averaging_time"/><label for="avg_1wk" class="but_lbl">1 wk</label>
</span>
