<div id="time_period">
    Select Time Period:
    <input type="radio" id="1d" value="1" name="time_period"/><label for="1d" class="but_lbl">1 da</label>
    <input type="radio" id="3d" value="3" name="time_period"/><label for="3d" class="but_lbl">3 da</label>
    <input type="radio" id="1w" value="7" name="time_period" checked="checked"/><label for="1w" class="but_lbl">1 wk</label>
    <input type="radio" id="2w" value="14" name="time_period"/><label for="2w" class="but_lbl">2 wk</label>
    <input type="radio" id="1m" value="31" name="time_period"/><label for="1m" class="but_lbl">1 mo</label>
    <input type="radio" id="2m" value="61" name="time_period"/><label for="2m" class="but_lbl">2 mo</label>
    <input type="radio" id="4m" value="122" name="time_period"/><label for="4m" class="but_lbl">4 mo</label>
    <input type="radio" id="1y" value="365" name="time_period"/><label for="1y" class="but_lbl">1 yr</label>
    <input type="radio" id="all" value="10000" name="time_period"/><label for="all" class="but_lbl">All</label>
    <input type="radio" id="custom" value="custom" name="time_period"/><label for="custom" class="but_lbl">Custom</label>
    <span id="custom_dates">
        &nbsp;&nbsp;&nbsp;Start: <input id="start_date" type="text" name="start_date" size="10"/>
        End: <input id="end_date" type="text" name="end_date" size="10"/>
    </span>
</div>
