{% load staticfiles %}
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>BMS Training Video</title>
<style type="text/css">
#movie
{
	width: {{ width }}px;
	height: {{ height }}px;
}
</style>
</head>
<body>
<p><a href="/training/">Back to Video List</a></p>
<div>
<object id="movie" type="application/x-shockwave-flash" data="{% static 'bmsapp/videos/' %}{{ filename }}.swf">
	<param name="movie" value="{% static 'bmsapp/videos/' %}{{ filename }}.swf" />
	<param name="quality" value="high" />
	<param name="bgcolor" value="#ffffff" />
	<p>You do not have the latest version of Flash installed. Please visit this link to download it: <a href="http://www.adobe.com/products/flashplayer/">http://www.adobe.com/products/flashplayer/</a></p>
</object>
</div>
</body>
</html>
