{% extends "bmsapp/base.html" %}

{% block pagetitle %}Admin Reports{% endblock %}

{% block title %}System Administrator Reports/Tasks{% endblock %}

{% block this_nav_link %}link_admin-reports{% endblock %}

{% block head %}
<style>
    #admin_tasks li {
        margin-top: 15px;
        display: block;
    }
    #admin_tasks a {
        display: block;
        padding: 5px 5px 5px 5px;
        width: 95%;
    }
    #admin_tasks a:hover {
        color: #fff;
        background-color: #69C;
    }
</style>
{% endblock %}

{% block content %}
<br>
<p>Click a Link below to Access a System Administrator Report or Task:</p>

<ul id="admin_tasks">
    <li><a href="{{ bmsapp_nav_link_base_url }}admin/">System Administrator Functions</a></li>
    <li><a href="http://bmon-documentation.readthedocs.io/en/latest/system-administrator-introduction.html">System Administrator Documentation on Read the Docs</a></li>
    <li><a href="{{ bmsapp_nav_link_base_url }}show-log/">View the Application Error Log</a></li>
    <li><a href="{{ bmsapp_nav_link_base_url }}unassigned-sensors/">Find Unassigned Sensors</a></li>
    <li><a href="{{ bmsapp_nav_link_base_url }}backup-readings/">Backup Sensor Reading Database (This will take up to 2 minutes to complete!)</a></li>
    <li><a href="{{ bmsapp_nav_link_base_url }}ecobee-auth/">Authorize Access to an Ecobee Thermostat Account</a></li>
    <li><a href="http://api.analysisnorth.com/debug">Mini-Monitor Debug Log Page</a></li>
</ul>

{% endblock %}
