{% extends "bmsapp/base.html" %}

{% block pagetitle %}Admin Reports{% endblock %}

{% block title %}System Administrator Reports/Tasks{% endblock %}

{% block this_nav_link %}link_admin-reports{% endblock %}

{% block content %}
<br>
<p>Click a Link below to Access a System Administrator Report or Task:</p>

<ul>
    <li><a href="/admin/">System Administrator Functions</a></li>
    <li><a href="http://bmon-documentation.readthedocs.io/en/latest/system-administrator-introduction.html">System Administrator Documentation on Read the Docs</a></li>
    <li><a href="/show-log">View the Application Error Log</a></li>
    <li><a href="/unassigned-sensors">Find Unassigned Sensors</a></li>
    <li><a href="/ecobee-auth">Authorize Access to an Ecobee Thermostat Account</a></li>
    <li><a href="http://api.analysisnorth.com/debug">Mini-Monitor Debug Log Page</a></li>
</ul>

{% endblock %}
