{% extends "bmsapp/base.html" %}

{% block pagetitle %}Alert Log{% endblock %}

{% block title %}Alert Notifications{% endblock %}

{% block content %}

<style>
/* Force text to wrap and allow the row to grow in height */
.tabulator-cell {
  white-space: normal !important;     /* allow multi-line wrapping */
  overflow-wrap: break-word;          /* break long words if needed */
  text-overflow: clip;                /* remove ellipsis (...) */
  overflow: visible !important;       /* ensure wrapped text is visible */
  height: auto !important;            /* allow row to auto-size */
}

.tabulator-row {
  height: auto !important;            /* row also grows with content */
}
</style>

<p>Red highlighted Alerts are currently still alarming. Suffixes after Recipient names indicate
  how they were notified: E: Email, T: Text Message, P: Pushover
</p>

<div id="alert-table"></div>

{% endblock %}

{% block scripts %}

<!-- Tabulator JS -->
<link href="https://unpkg.com/tabulator-tables@latest/dist/css/tabulator.min.css" rel="stylesheet">
<script src="https://unpkg.com/tabulator-tables@latest/dist/js/tabulator.min.js"></script>

<script>
  var table = new Tabulator("#alert-table", {
    // Define table columns
    columns: [
      {title: "Day", field: "day_string", visible: false},
      {title: "Building", field: "building", visible: false},
      {title: "Time", field: "time_string"}, 
      {title: "Message", field: "message", width: 400},
      {title: "Recipients", field: "recipients",  width: 250},
      {title: "Sensor Notes", field: "sensor_notes", width: 250},
      {
        title: "Edit", 
        field: "edit_url", 
        width: 65,
        formatter: "link",
        formatterParams: {
          label: "Edit Sensor",
          target: "_blank",
        }
      },
    ],
    layout:"fitDataTable",
    groupBy: ["day_string", "building"],
    groupStartOpen: false,
    rowFormatter: function(row) {
      // row is a RowComponent
      var data = row.getData();
      if (data.is_alarming === true) {
        row.getElement().style.backgroundColor = "#ff9999";
      }
    },
    ajaxURL: "/alert-log-data/",
    ajaxConfig: {method: "GET"},

  });

  // When the data has been processed (and groups are built), expand the first group
  table.on("dataProcessed", function(){
    let dayGroups = table.getGroups();   
    if (dayGroups.length > 0) {
      let firstGroup = dayGroups[0];
      firstGroup.show();               // open the first top-level group
    }
  });    
</script>

{% endblock %}
