{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

    <head>
        <title>{{ bmsapp_title_text }} - {%block pagetitle %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="{% static 'bmsapp/css/bmsapp.css' %}">
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script>
        $(function () {
            $("#{% block this_nav_link %}{% endblock %}").addClass("selected-nav-link").removeAttr("href");
        });
        </script>
        {% block head %}{% endblock %}
    </head>

    <body>
        <span id="BaseURL" style="display:none">{{ bmsapp_nav_link_base_url }}</span>
        <div id="wrap">

            <div id="header">{{ bmsapp_header|safe }}</div>

            <div id="nav">
                <ul>
                    {% for nav_item in bmsapp_nav_links %}
                        <li><a href="{{ bmsapp_nav_link_base_url }}{{ nav_item.1 }}/" id="link_{{ nav_item.1 }}">{{ nav_item.0 }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div id="content">
                <h1>{% block title %}{% endblock %}</h1>
                {% block content %}{% endblock %}
                <p style="clear: both">&nbsp;</p>
                <hr>
                <div id="footer">{{ bmsapp_footer|safe }}</div>
            </div>

        </div>

    </body>

</html>
