<script>
  $(function() {
    $( document ).tooltip();
  });
  </script>
  <style>
  label {
    display: inline-block;
    width: 5em;
  }
  </style>

<h2 id="report_title">{{ report_title }}</h2>
<table>
    <thead><tr><th>Building Name</th><th>Sensor</th><th>When</th><th>Value</th><th>Unit</th><th>Graph</th></tr></thead>
    <tbody>
    {% for building in sensor_list %}
        {% for sensor in building.group_sensor_list %}
            <tr>
                {% if forloop.first %}
                <td><a href="#" onclick="AN.plot_building_chart_sensor({{ building.bldg_id }})">{{ building.bldg_name }}</a></td>
                {% else %}
                <td></td>
                {% endif %}
                <td><a href="#" onclick="AN.plot_building_chart_sensor({{ building.bldg_id }}, {{ ts_chart_id }}, {{ sensor.sensor_id }})" title={{ sensor.notes }}>{{ sensor.title }}</a></td>
                <td>{{ sensor.minutes_ago }} minutes ago</td>
                {% if sensor.alerts %}
                <td class="number" title="{{ sensor.alerts }}" style="background-color:#FF8C8C;">
                {% else %}
                <td class="number">
                {% endif %}
                    {{ sensor.cur_value }}</td>
                <td>{{ sensor.unit }}</td>
                <td>{{ sensor.stars }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
