<script>
  $(function() {
    $( document ).tooltip();
  });
  </script>
  <style>
  label {
    display: inline-block;
    width: 5em;
  }
  </style>


<h2 id="report_title">{{ report_title }}</h2>
<table>
    <thead><tr><th>Sensor</th><th>Value</th><th>Unit</th><th>When</th></tr></thead>
    <tbody>
    {% for group in sensor_list %}
        <tr class="group_header"><td colspan="4">{{ group.0 }}</td></tr>
        {% for sensor in group.1 %}
            <tr><td class="indent"><a href="#" onclick="AN.plot_sensor({{ ts_chart_id }}, {{ sensor.sensor_id }})" title="{{ sensor.notes }}" > {{ sensor.title }} </a></td>
                {% if sensor.alerts %}
                <td class="number" title="{{ sensor.alerts }}" style="background-color:#FF8C8C;">
                {% else %}
                <td class="number">
                {% endif %}
                    {{ sensor.cur_value }}</td>
                <td>{{ sensor.unit }}</td>
                <td>{{ sensor.minutes_ago }} minutes ago</td>
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
