<h2 id="report_title">{{ report_title }}</h2>
<table>
    <thead><tr><th>Building Name</th><th>Sensor</th><th>When</th><th>Value</th><th>Unit</th><th>Graph</th></tr></thead>
    <tbody>
    {% for building in sensor_list %}
        {% for sensor in building.group_sensor_list %}
            <tr>
                {% if forloop.first %}
                <td><a href="{{ sensor.building_href }}">{{ building.bldg_name }}</a></td>
                {% else %}
                <td></td>
                {% endif %}
                <td><a href="{{ sensor.href }}" title={{ sensor.notes }}>{{ sensor.title }}</a></td>
                <td>{{ sensor.minutes_ago }} minutes ago</td>
                {% if sensor.alerts %}
                <td class="number" title="{{ sensor.alerts }}" style="background-color:#FF8C8C;">
                {% else %}
                <td class="number">
                {% endif %}
                    {{ sensor.cur_value }}</td>
                <td>{{ sensor.unit }}</td>
                <td>{{ sensor.stars }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
