<h2 id="report_title">{{ report_title }}</h2>
<div class="d-flex justify-content-center">
    <div class="table-responsive">
        <table class="table table-sm mt-3">
            <thead><tr>
                <th class="text-center">Sensor</th>
                <th class="text-center">Value</th>
                <th class="text-center">Unit</th>
                <th class="text-center">When</th>
            </tr></thead>
            <tbody>
            {% for group in sensor_list %}
                <tr class="group-row"><th colspan="4">{{ group.0 }}</th></tr>
                {% for sensor in group.1 %}
                    <tr><td class="pl-4"><a href="{{ sensor.href }}" data-toggle="tooltip" data-html="true" title="{{ sensor.notes | safe }}" > {{ sensor.title }} </a></td>
                        {% if sensor.alerts %}
                        <td class="text-right" data-toggle="tooltip" data-html="true" title="{{ sensor.alerts | safe }}" style="background-color:#FF8C8C;">
                        {% else %}
                        <td class="text-right">
                        {% endif %}
                            {{ sensor.cur_value }}</td>
                        <td>{{ sensor.unit }}</td>
                        <td>{{ sensor.minutes_ago }} minutes ago</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<h3>{{ footer_title }}</h3>
{{ footer | safe }}
