{% extends "bmsapp/base.html" %}

{% block pagetitle %}Custom Reports{% endblock %}
{% block head %}
    <style>
        #report_list {
            margin-left: 30px; 
            margin-top: 20px;
        }

        #report_list ul {
            list-style-type: none;
            padding: 0;
        }

        .report_groups {
            display: block;
            padding: 5px 10px;
            margin-top: 10px;
            width: 800px;
            color: #000;
            background-color: #B2DBFF;
            font-weight: bold;
            }

        .reports a {
            display: block;
            padding: 5px 5px 5px 50px;
            margin-top: 1px;
            width: 765px;
            color: #0B6311;
            background-color: #D4E7F7;
            font-weight: normal;
            }

        .reports a:hover {
            color: #fff;
            background-color: #69C;
            }
    </style>
    <script>
        forceReload = function() {
            location.reload(true);
        };
        $(function () {
            $("#select_org").change(forceReload);
        });
    </script>
        
{% endblock %}

{% block this_nav_link %}link_custom-reports{% endblock %}

{% block content %}

<h2>Custom Reports</h2>
<div id="report_list">
    <ul>
        {% for group, reports in customReports %}
        <li>
            <span class="report_groups">{{ group }}</span>
            <ul class="reports">
                {% for report in reports %}
                <li class="reports"><a class="reports" href="{{ report.id }}?select_org={{ org_id }}">{{ report.title }}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
