{% extends "bmsapp/base.html" %}
{% load staticfiles %}

{% block pagetitle %}Custom Reports{% endblock %}
{% block head %}
    <style>
      #map_canvas {
        width: 930px;
        height: 600px;
        margin-left:auto;
        margin-right:auto;
      }
      #content {
        background-color: #fff;
      }
    </style>

{% endblock %}

{% block this_nav_link %}link_map{% endblock %}

{% block content %}

       <h2>Report 1</h2>
       <script src="/reports/embed/?select_group=0&select_bldg=2&select_chart=2&select_sensor=37&averaging_time=0&averaging_time_export=0.5&select_sensor_x=37&select_sensor_y=37&averaging_time_xy=0.5&div_date=&time_period=7&start_date=3%2F20%2F2017&end_date=" async></script>
       <h2>Report 2</h2>
       <script src="/reports/embed/?select_group=0&select_bldg=30&select_chart=2&select_sensor=405&averaging_time=0&averaging_time_export=0.5&select_sensor_x=411&select_sensor_y=411&averaging_time_xy=0.5&div_date=&time_period=7&start_date=3%2F20%2F2017&end_date=" async></script>
       <h2>Report 3</h2>
       <script src="/reports/embed/?select_group=0&select_bldg=2&select_chart=1" style="width: 300px" async></script>
       <h2>Report 4</h2>
       <script src="/reports/embed/?select_group=0&select_bldg=multi&select_chart=3" async></script>

{% endblock %}
