{% extends "bmsapp/base.html" %}
{% load staticfiles %}

{% block pagetitle %}Map{% endblock %}
{% block head %}
<style>
    #map_canvas {
        width: 930px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    #content {
        background-color: #fff;
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwDNzAbqTajhjNQIv5T76uCmWvVB2XzXk&sensor=false"></script>
<script>
  drawMap = function() {
    var map_canvas = document.getElementById('map_canvas');
    var map_options = {
      center: new google.maps.LatLng(65, -155),
      zoom: 4,
      mapTypeId: google.maps.MapTypeId.TERRAIN
    }
    var map = new google.maps.Map(map_canvas, map_options)

    $.getJSON('{% url "map-json" %}' + '?select_org=' + $('#select_org').val(), function(sitesJSON) {
        for (var i = 0; i < sitesJSON.features.length; i++) {
          var site = sitesJSON.features[i];
          var coords = site.geometry.coordinates;
          var latLng = new google.maps.LatLng(coords[1],coords[0]);
          var markerText = site.properties.facilityName;
          var markerColor = 'green';
          if (site.properties.message.length > 0) {
            markerText = markerText + '\n' + site.properties.message;
            markerColor = 'red';
          };
          var marker = new google.maps.Marker({
            position: latLng,
            title: markerText,
            facilityID: site.properties.facilityID.toString(),
            href: site.properties.href,
            icon: {
              path: google.maps.SymbolPath.CIRCLE,
              fillColor: markerColor,
              fillOpacity: .6,
              scale: 5,
              strokeColor: 'black',
              strokeWeight: .5
            },
            scale: .5,
            map: map
          });
          google.maps.event.addListener(marker, 'click', function() {window.location.href = this.href})
        }
      });
  };
  $(function() {
    $("#select_org").change(drawMap);
    drawMap();
  });
</script>
{% endblock %}

{% block this_nav_link %}link_map{% endblock %}

{% block content %}

<div id="map_canvas"></div>
{% endblock %}
