{% extends "bmsapp/base.html" %}
{% load staticfiles %}

{% block pagetitle %}Map{% endblock %}
{% block head %}
<style>
    #map_canvas {
        width: 930px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    #content {
        background-color: #fff;
    }
</style>
<link rel="stylesheet" href="{% static 'bmsapp/css/leaflet.css' %}" />
<script src="{% static 'bmsapp/scripts/leaflet.js' %}"></script>

<script>
  var map;
  var markers;

  drawMap = function() {
    if (markers !== undefined) {
      map.removeLayer(markers);
    }

    markers = new L.FeatureGroup();

    $.getJSON('{% url "map-json" %}' + '?select_org=' + $('#select_org').val(), function(sitesJSON) {
        for (var i = 0; i < sitesJSON.features.length; i++) {
          var site = sitesJSON.features[i];
          var coords = site.geometry.coordinates;
          var latLng = new L.LatLng(coords[1],coords[0]);
          var markerText = site.properties.facilityName;
          var markerColor = 'green';
          if (site.properties.message.length > 0) {
            markerText = markerText + '\n' + site.properties.message;
            markerColor = 'red';
          }

          var marker = new L.circleMarker(latLng, {
            radius: 5,
            fillOpacity: 1,
            color: "black",
            weight: 1,
            fillColor: markerColor,
            facilityID: site.properties.facilityID.toString(),
            href: site.properties.href,
          });

          marker.bindTooltip(markerText);
          marker.on("click", function() { window.location.href = this.options.href });
          marker.addTo(markers);
        }
      });

      markers.addTo(map);
  };

  $(function() {
    map = new L.Map('map_canvas').setView([65, -155], 4);
    L.tileLayer('http://tile.stamen.com/terrain/{z}/{x}/{y}.png', {
      attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://www.openstreetmap.org/copyright">ODbL</a>.',
      maxZoom: 13
    }).addTo(map);

    $("#select_org").change(drawMap);

    drawMap();
  });
</script>
{% endblock %}

{% block this_nav_link %}link_map{% endblock %}

{% block content %}

<div id="map_canvas"></div>
{% endblock %}
