{% extends "bmsapp/base.html" %}

{% block pagetitle %}Policies{% endblock %}

{% block title %}BMON Privacy Policy and Terms & Conditions{% endblock %}

{% block content %}

<hr />

<h3>Privacy Policy</h3>

<p><strong>Last Updated:</strong> July 25, 2024</p>
<p>Analysis North (“we,” “our,” or “us”) is committed to protecting your privacy. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website <a href="https://bmon.analysisnorth.com">https://bmon.analysisnorth.com</a> (the “Website”) and use our services (“Services”). By using our Website, you agree to the collection and use of information in accordance with this Privacy Policy.</p>
<p><strong>1. Information We Collect</strong></p>
<p>We may collect the following information from users of our Website:</p>
<p><strong>1.1. Personal Information:</strong> When you use our Services, we may collect your name, mobile phone number, and email address. This information is collected solely for the purpose of alerting you to improper sensor readings.</p>
<p><strong>2. How We Use Your Information</strong></p>
<p><strong>2.1. Alert Notifications:</strong> The personal information we collect (name, mobile phone number, email address) will only be used to notify you about improper sensor readings. We will not use this information for any other purpose.</p>
<p><strong>3. Sharing of Information</strong></p>
<p>3.1. No Disclosure to Third Parties: We do not share, sell, rent, or trade your personal information with third parties.</p>
<p><strong>4. Data Security</strong></p>
<p>We use administrative, technical, and physical security measures to help protect your personal information. While we have taken reasonable steps to secure the personal information you provide to us, please be aware that despite our efforts, no security measures are perfect or impenetrable, and no method of data transmission can be guaranteed against any interception or other types of misuse.</p>
<p><strong>5. Retention of Information</strong></p>
<p>We will retain your personal information only for as long as necessary to fulfill the purposes outlined in this Privacy Policy, unless a longer retention period is required or permitted by law.</p>
<p><strong>6. Your Rights</strong></p>
<p><strong>6.1. Access and Correction:</strong> You have the right to access and correct your personal information held by us. You may contact us at the address below to update or correct your information.</p>
<p><strong>6.2. Deletion:</strong> You have the right to request the deletion of your personal information. To request deletion, please contact us at the address below. We will respond to your request in accordance with applicable laws.</p>
<p><strong>7. Changes to this Privacy Policy</strong></p>
<p>We may update this Privacy Policy from time to time. If we make any material changes, we will notify you by posting the updated policy on our Website. Your continued use of the Website and Services after any changes to this Privacy Policy constitutes your acceptance of the changes.</p>
<p><strong>8. Contact Us</strong></p>
<p>If you have any questions about this Privacy Policy or our practices regarding your personal information, please contact us at:</p>
<p>Analysis North<br />
11400 Mountain Lake Dr<br />
Anchorage, AK 99516<br />
<a href="mailto:alan@analysisnorth.com">alan@analysisnorth.com</a></p>

<hr />

<h3>Terms and Conditions</h3>

<p><strong>Last Updated:</strong> July 25, 2024</p>
<p>Welcome to BMON Building Monitoring application!</p>
<p>These Terms and Conditions (“Terms”) govern your use of the BMON website (“Website”) and the services provided through it (“Services”). By accessing or using our Website, you agree to be bound by these Terms. If you do not agree with any part of these Terms, you must not use our Website.</p>
<p><strong>1. Acceptance of Terms</strong></p>
<p>By using our Website, you acknowledge that you have read, understood, and agree to be bound by these Terms and our Privacy Policy.</p>
<p><strong>2. Use of the Website</strong></p>
<p>2.1. <strong>License:</strong> We grant you a limited, non-exclusive, non-transferable, and revocable license to use our Website and Services for personal or commercial purposes in accordance with these Terms.</p>
<p>2.2. <strong>User Conduct:</strong> You agree not to use the Website for any unlawful purpose or in any way that could harm, disable, overburden, or impair the Website. You must not attempt to gain unauthorized access to any part of the Website or its related systems.</p>
<p><strong>3. Open Source Components</strong></p>
<p>Our Website incorporates open-source software and libraries. These components are governed by their respective licenses, which you must comply with. Details of these licenses can be found in the source code for each component..</p>
<p><strong>4. User-Generated Content</strong></p>
<p>4.1. <strong>Responsibility:</strong> You are solely responsible for any content that you upload, post, or otherwise make available on the Website.</p>
<p><strong>5. Privacy</strong></p>
<p>Your use of the Website is also governed by our Privacy Policy, which can be found above on this page. Please review our Privacy Policy to understand our practices regarding the collection, use, and disclosure of your personal information.</p>
<p><strong>6. Disclaimers</strong></p>
<p>6.1. <strong>No Warranty:</strong> Our Website and Services are provided “as is” and “as available” without any warranties of any kind, either express or implied. We do not guarantee that the Website will be error-free, uninterrupted, or free from viruses or other harmful components.</p>
<p>6.2. <strong>Limitation of Liability:</strong> To the maximum extent permitted by law, we shall not be liable for any direct, indirect, incidental, special, consequential, or punitive damages arising out of your use of, or inability to use, the Website or Services.</p>
<p><strong>7. Indemnification</strong></p>
<p>You agree to indemnify, defend, and hold harmless Analysis North, its officers, directors, employees, and agents from and against any claims, liabilities, damages, losses, and expenses, including without limitation reasonable legal and accounting fees, arising out of or in any way connected with your access to or use of the Website or Services.</p>
<p><strong>8. Changes to Terms</strong></p>
<p>We reserve the right to modify these Terms at any time. Any changes will be effective immediately upon posting the updated Terms on the Website. Your continued use of the Website following the posting of changes constitutes your acceptance of those changes.</p>
<p><strong>9. Governing Law</strong></p>
<p>These Terms shall be governed by and construed in accordance with the laws of the State of Alaska, without regard to its conflict of law principles.</p>
<p><strong>10. Contact Us</strong></p>
<p>If you have any questions about these Terms, please contact us at:</p>
<p>Analysis North<br />
11400 Mountain Lake Dr<br />
Anchorage, AK 99516<br />
<a href="mailto:alan@analysisnorth.com">alan@analysisnorth.com</a></p>

{% endblock %}
