{% extends "bmsapp/base.html" %}
{% load staticfiles %}

{% block pagetitle %}Reports/Charts{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'bmsapp/css/jquery.multiselect.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bmsapp/css/dashboard.css' %}?t={{ curtime }}">
<script src="//cdn.plot.ly/plotly-1.21.2.min.js"></script>
<script src="{% static 'bmsapp/scripts/jquery.multiselect.min.js' %}"></script>
<script src="{% static 'bmsapp/scripts/gauge.min.js' %}"></script>
<script src="{% static 'bmsapp/scripts/bmsapp.js' %}?t={{ curtime }}"></script>
<script src="{% static 'bmsapp/scripts/dashboard.js' %}?t={{ curtime }}"></script>
{% endblock %}

{% block this_nav_link %}link_reports{% endblock %}

{% block title %}Charts and Reports{% endblock %}

{% block content %}

<p>
    Group:  <select id="select_group" name="select_group">
        {{ groups_html|safe }}
    </select>

    Facility: <select id="select_bldg" name="select_bldg">
        {{ bldgs_html|safe }}
    </select>

    Report: <select id="select_chart" name="select_chart">{{ chart_list_html|safe }}</select>
    &nbsp;&nbsp;&nbsp;<button id="refresh" type="button">Refresh Data</button>
</p>

<p>
    <span id="ctrl_sensor">
        Select Values to Plot: <select id="select_sensor" name="select_sensor">
            {{ sensor_list_html|safe }}
        </select>&nbsp;&nbsp;
    </span>
    <span id="ctrl_avg">
        Data Averaging:
        <select id="averaging_time" name="averaging_time">
            <option value="0" selected>None</option>
            <option value="0.5">30 minutes</option>
            <option value="1">1 hour</option>
            <option value="2">2 hour</option>
            <option value="4">4 hour</option>
            <option value="8">8 hour</option>
            <option value="24">1 day</option>
            <option value="168">1 week</option>
            <option value="720">1 month</option>
            <option value="8760">1 year</option>
        </select>
    </span>
    <span id="ctrl_avg_export">
        Data Averaging:
        <select id="averaging_time_export" name="averaging_time_export">
            <option value="0.25">15 minutes</option>
            <option value="0.5" selected>30 minutes</option>
            <option value="1">1 hour</option>
            <option value="2">2 hour</option>
            <option value="4">4 hour</option>
            <option value="8">8 hour</option>
            <option value="24">1 day</option>
            <option value="168">1 week</option>
            <option value="720">1 month</option>
            <option value="8760">1 year</option>
        </select>
    </span>
    <span id="ctrl_normalize">
        <input type="checkbox" id="normalize" name="normalize"/>
            <label for="normalize" class="but_lbl">Scale Values to 0 - 100%</label>
    </span>
    <span id="ctrl_occupied">
        <input type="checkbox" id="show_occupied" name="show_occupied"/>
            <label for="show_occupied" class="but_lbl">Shade Occupied Periods</label>
    </span>
</p>

<div id="xy_controls">
    <p>
        Sensor X: <select id="select_sensor_x" name="select_sensor_x">
            {{ sensor_list_html|safe }}
        </select>&nbsp;&nbsp;
        Sensor Y: <select id="select_sensor_y" name="select_sensor_y">
            {{ sensor_list_html|safe }}
        </select>
    </p>
    <p>
        <span>
            Data Averaging:
            <select id="averaging_time_xy" name="averaging_time_xy">
                <option value="0.25">15 minutes</option>
                <option value="0.5" selected>30 minutes</option>
                <option value="1">1 hour</option>
                <option value="2">2 hour</option>
                <option value="4">4 hour</option>
                <option value="8">8 hour</option>
                <option value="24">1 day</option>
                <option value="168">1 week</option>
                <option value="720">1 month</option>
                <option value="8760">1 year</option>
            </select>
        </span>&nbsp;&nbsp;
        Divide Data at this Date: <input id="divide_date" type="text" name="divide_date" size="7"/>
    </p>
</div>

<div id="time_period">
    Select Time Period:
    <input type="radio" id="1d" value="1" name="time_period"/><label for="1d" class="but_lbl">1 da</label>
    <input type="radio" id="3d" value="3" name="time_period"/><label for="3d" class="but_lbl">3 da</label>
    <input type="radio" id="1w" value="7" name="time_period" checked="checked"/><label for="1w" class="but_lbl">1 wk</label>
    <input type="radio" id="2w" value="14" name="time_period"/><label for="2w" class="but_lbl">2 wk</label>
    <input type="radio" id="1m" value="31" name="time_period"/><label for="1m" class="but_lbl">1 mo</label>
    <input type="radio" id="2m" value="61" name="time_period"/><label for="2m" class="but_lbl">2 mo</label>
    <input type="radio" id="4m" value="122" name="time_period"/><label for="4m" class="but_lbl">4 mo</label>
    <input type="radio" id="1y" value="365" name="time_period"/><label for="1y" class="but_lbl">1 yr</label>
    <input type="radio" id="all" value="10000" name="time_period"/><label for="all" class="but_lbl">All</label>
    <input type="radio" id="custom" value="custom" name="time_period"/><label for="custom" class="but_lbl">Custom</label>
    <span id="custom_dates">
        &nbsp;&nbsp;&nbsp;Start: <input id="start_date" type="text" name="start_date" size="7"/>
        End: <input id="end_date" type="text" name="end_date" size="7"/>
    </span>
</div>

<p>
<button id="download_many">Download Excel Spreadsheet</button>
</p>

<div id="results">
</div>
{% endblock %}
