{% extends "bmsapp/base.html" %}
{% load staticfiles %}

{% block pagetitle %}Reports/Charts{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'bmsapp/css/jquery.multiselect.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bmsapp/css/dashboard.css' %}">
<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="http://highslide-software.github.io/export-csv/export-csv.js"></script>
<script src="{% static 'bmsapp/scripts/jquery.multiselect.min.js' %}"></script>
<script src="{% static 'bmsapp/scripts/bmsapp-1.8.js' %}"></script>
<script src="{% static 'bmsapp/scripts/dashboard.js' %}"></script>
{% endblock %}

{% block this_nav_link %}link_reports{% endblock %}

{% block title %}Charts and Reports{% endblock %}

{% block content %}

<p>
    Group:  <select id="select_group" name="select_group">
        {{ groups_html }}
    </select>

    Facility: <select id="select_bldg" name="select_bldg">
        {{ bldgs_html }}
    </select>

    Report: <select id="select_chart" name="select_chart">{{ chart_list_html }}</select>
    &nbsp;&nbsp;&nbsp;<button id="refresh" type="button">Refresh Data</button>
</p>
<div id="chart_content">{{ chart_html }}</div>
{% endblock %}
