{% extends "bmsapp/base.html" %}

{% block pagetitle %}Training and Reports{% endblock %}

{% block this_nav_link %}link_training-ahfc{% endblock %}

{% block title %}Training Material and Reports{% endblock %}

{% block content %}

<p>User Manuals and Training Videos that are helpful for learning about using BMON
    and performing System Administration tasks.
</p>

<h3>User Manual and Detailed Documentation</h3>

<p>
    The <a href="https://docs.google.com/document/preview?hgd=1&id=10yhTZH4IRDuP7ZAPamcgTdtllEGLCltQcuFigTlh6A4" target="_blank">
        User Manual</a> 
    contains information about selecting
    important sensors for building monitoring, setting up a BMON system, and analyzing the data
    collected using tools available in BMON.
</p>

<p>
    The <a href="https://bmon-documentation.readthedocs.io/en/latest/" target="_blank">Detailed Documentation</a> provides
    more in-depth and comprehensive information for the features in BMON.
</p>

<h3>Training Videos for Viewing and Analyzing BMON Data</h3>

<p>
    These videos explain how to use the graphing and reporting tools available in BMON.
</p>

<table width="800"  cellpadding="6">
    <tbody>
        <tr>
            <th>
                Link to Video
            </th>
            <th>
                Description
            </th>
        </tr>

        <tr>
            <td><a href="https://vimeo.com/486647397" target="_blank">Plot Sensor Values 
                over Time</a>
            </td>
            <td>(11 minutes) This video explains how to access and use the Plot Sensor Values over Time Graph, 
                which can plot one or more sensors across a time period.
            </td>
        </tr>
        <tr>
            <td><a href="https://vimeo.com/489279518" target="_blank">Sensor X vs Y Scatter Plot</a></td>
            <td>(12 minutes) This video explains the X vs Y Scatter Plot graph, which allows you to
                plot the relationship between two sensors values. For example, you can see how fuel
                usage varies with outdoor temperature.
            </td>
        </tr>
        <tr>
            <td><a href="https://vimeo.com/489536323" target="_blank">Hourly Profile Plots</a></td>
            <td>
                (11 minutes) This video explains the Hourly Profile Plot, which is useful for seeing how a 
                sensor value varies across hours in the day.  The hourly profile can also be
                separated by different days of the week.
            </td>
        </tr>
        <tr>
            <td><a href="https://vimeo.com/489587845" target="_blank">Other Reports and Graphs</a></td>
            <td>
                (7 minutes) This video reviews the various other graphs and reports that are available in BMON.
            </td>
        </tr>
        <tr>
            <td><a href="https://vimeo.com/489689157" target="_blank">Custom Reports</a></td>
            <td>
                (11 minutes) Custom Reports allow you to combine one or more graphs into one report 
                and be able to easily rerun the set of graphs.
                This video shows how to set up and run a Custom Report.
            </td>
        </tr>

    </tbody>
</table>
<br>

<h3>Training Videos for Installing Sensors and Configuring BMON</h3>

<p>
    These videos are for people who need to set up and configure a BMON system.
    These System Administration functions are only available to a few BMON users and
    are not important for those just wishing to view and analyze the BMON data.
</p>

<table width="800" cellpadding="6">
    <tbody>
        <tr>
            <th>
                Link to Video
            </th>
            <th>
                Description
            </th>
        </tr>

        <tr>
            <td><a href="https://vimeo.com/566390563" target="_blank">Wiring External Sensor to Elsys ELT</a></td>
            <td>
                (9 minutes) This video gives some tips on wiring an external sensor to the Elsys ELT-2 and
                ELT-Lite sensors, focusing on a pulse output external sensor as an example.
            </td>
        </tr>
        <tr>
            <td><a href="https://vimeo.com/486081918" target="_blank">System Administrator Interface</a></td>
            <td>
                (8 minutes) This video explains the purpose of the BMON System Administrator interface, shows
                how to access it, and gives an overview of how to use it.
            </td>
        </tr>
        <tr>
            <td><a href="https://vimeo.com/486208758" target="_blank">Add a New Building, Basic Information</a></td>
            <td>
                (8 minutes) This video shows how to add and enter the basic required information for a New Building
                in BMON.
            </td>
        </tr>
        <tr>
            <td><a href="https://vimeo.com/486498160" target="_blank">Advanced Building Information: 
            Occupied Schedule & Additional Description</a></td>
            <td>
                (10 minutes) Entering an occupied schedule and adding additional descriptive information about
                the building are covered in this Video.
            </td>
        </tr>
        <tr>
            <td><a href="https://vimeo.com/492722273" target="_blank">How to use Unassigned
            Sensors when Setting Up New Sensors</a></td>
            <td>
                (5 minutes) When setting up new sensors in BMON, you need to know the Sensor ID of each
                sensor you are trying to configure.  This video shows how to easily retrieve
                that ID for sensors that are already reporting into BMON but have
                not yet been set up in the system.
            </td>
        </tr>
        <tr>
            <td><a href="https://vimeo.com/492728994" target="_blank">Basic Steps for Adding
            a New Sensor</a></td>
            <td>
                (11 minutes) This video walks through the process of setting a new Sensor in BMON and assigning
                it to a Building and a Sensor Group within that Building.
            </td>
        </tr>
        <tr>
            <td><a href="https://vimeo.com/500314404" target="_blank">Editing Sensor Information</a></td>
            <td>
                (7 minutes) Sometimes it is necessary to edit information about an existing sensor.  This video
                shows how to locate an existing sensor when the list of sensors in BMON is long.
            </td>
        </tr>
        <tr>
            <td><a href="https://vimeo.com/501051753" target="_blank">Getting National Weather Service
                Temperature and Wind Data</a></td>
            <td>
                (15 minutes) This video shows how to create virtual temperature and wind "sensors" by accessing
                National Weather Service data across the Internet.
            </td>
        </tr>
        <tr>
            <td><a href="https://vimeo.com/501893423" target="_blank">Identifying & Entering Key
                Sensors for Energy Reports</a></td>
            <td>
                (11 minutes) Energy Reports are one of the analysis tools that BMON provides.  These
                reports give graphs and information that help you identify possible energy savings in
                your buildings.  The use of Energy Reports requires that you provide additional
                configuration information to BMON, e.g. identifying the best outdoor temperature sensor
                to associate with a building.  This video shows how to do that.
            </td>
        </tr>
        <tr>
            <td><a href="https://vimeo.com/518690694" target="_blank">Choosing Sensors to Display on the Building Dashboard</a></td>
            <td>
                (10 minutes) This video helps you choose which sensors to include on the Dashboard that
                BMON allows you to create for each building.
            </td>
        </tr>
        <tr>
            <td><a href="https://vimeo.com/518713395" target="_blank">Adding Custom Reports and Links to the Dashboard</a></td>
            <td>
                (6 minutes) Building Dashboards can be enhanced with detailed graphs and other links.  This video shows how
                to use these more advanced features of Dashboards.
            </td>
        </tr>
        <tr>
            <td><a href="https://vimeo.com/485808171" target="_blank">Creating Alerts and assigning Recipients</a></td>
            <td>
                (6 minutes) BMON allows creation of "Alerts" that will notify you when dangerous conditions or
                conditions requiring attention occur. This video shows you how to set up Alerts.
            </td>
        </tr>

    </tbody>
</table>

{% endblock %}
