{% extends "bmsapp/base.html" %}

{% block pagetitle %}Training and Reports{% endblock %}

{% block this_nav_link %}link_training-ahfc{% endblock %}

{% block title %}Training Material and Reports{% endblock %}

{% block content %}

<p>User Manuals and Training Videos that are helpful for learning about using BMON
    and performing System Administration tasks.
</p>

<h2>User Manual and Detailed Documentation</h2>

<p>
    The <a href="https://training.bmon.org/user-manual" target="_blank">
        User Manual</a> 
    contains information about selecting
    important sensors for building monitoring, setting up a BMON system, and analyzing the data
    collected using tools available in BMON.
</p>

<p>
    The <a href="https://bmon-documentation.readthedocs.io/en/latest/" target="_blank">Detailed Documentation</a> provides
    more in-depth and comprehensive information for the features in BMON.
</p>

<h2>Training Videos for Viewing and Analyzing BMON Data</h2>

<p>
    These videos explain how to use the graphing and reporting tools available in BMON.
</p>

<table width="800">
    <tbody>
        <tr>
            <th>
                Link to Video
            </th>
            <th>
                Description
            </th>
        </tr>

        <tr>
            <td><a href="https://vimeo.com/486647397" target="_blank">Plot Sensor Values 
                over Time</a>
            </td>
            <td>(11 minutes) This video explains how to access and use the Plot Sensor Values over Time Graph, 
                which can plot one or more sensors across a time period.
            </td>
        </tr>
        <tr>
            <td><a href="https://vimeo.com/489279518" target="_blank">Sensor X vs Y Scatter Plot</a></td>
            <td>(12 minutes) This video explains the X vs Y Scatter Plot graph, which allows you to
                plot the relationship between two sensors values. For example, you can see how fuel
                usage varies with outdoor temperature.
            </td>
        </tr>
        <tr>
            <td><a href="https://vimeo.com/489536323" target="_blank">Hourly Profile Plots</a></td>
            <td>
                (11 minutes) This video explains the Hourly Profile Plot, which is useful for seeing how a 
                sensor value varies across hours in the day.  The hourly profile can also be
                separated by different days of the week.
            </td>
        </tr>
        <tr>
            <td><a href="https://vimeo.com/489587845" target="_blank">Other Reports and Graphs</a></td>
            <td>
                (7 minutes) This video reviews the various other graphs and reports that are available in BMON.
            </td>
        </tr>
        <tr>
            <td><a href="https://vimeo.com/489689157" target="_blank">Custom Reports</a></td>
            <td>
                (11 minutes) Custom Reports allow you to combine one or more graphs into one report 
                and be able to easily rerun the set of graphs.
                This video shows how to set up and run a Custom Report.
            </td>
        </tr>

    </tbody>
</table>
<br>

<h2>Training Videos for Installing Sensors and Configuring BMON</h2>

<p>
    These videos are for people who need to set up and configure a BMON system.
    These System Administration functions are only available to a few BMON users and
    are not important for those just wishing to view and analyze the BMON data.
</p>


<table width="800">
    <tbody>
        <tr>
            <th>
                Link to Video
            </th>
            <th>
                Description
            </th>
        </tr>

        <tr>
            <td><a href="" target="_blank"></a></td>
            <td>
                Coming Soon!
            </td>
        </tr>

    </tbody>
</table>


{% endblock %}
