{% extends "bmsapp/base.html" %}

{% block pagetitle %}Training and Reports{% endblock %}

{% block this_nav_link %}link_training-ahfc{% endblock %}

{% block title %}Training Material and Reports{% endblock %}

{% block content %}

<p>This page contains the Final Project Reports and a number of videos that explain how to use the AHFC Building
Monitoring website.</p>

<h2>Final Project Reports</h2>

<p><a href="https://bms.ahfc.us/static/bmsapp/reports/deliverable_1.pdf"><b>Deliverable 1 Report:</b></a> Information on AHFC Buildings, 
Existing Building Monitoring Systems, 
Identify Three Buildings for new Monitoring, Best Practices for Building Monitoring, Energy Systems to Monitor.</p>

<p><a href="https://bms.ahfc.us/static/bmsapp/reports/deliverable_2_6_7.pdf"><b>Deliverable 2, 6, and 7 Report:</b></a> Design 
of the Monitoring Systems, Benefits from Monitoring various System Types, Installation Tips, 
Internet Access Issues, Suggestions for Future Monitoring, List of Sensors for each Building.</p>

<p><a href="https://bms.ahfc.us/static/bmsapp/reports/deliverable_3.pdf"><b>Deliverable 3 Report:</b></a> Energy Policy Recommendations for all AHFC buildings.</p>

<p><a href="https://bms.ahfc.us/static/bmsapp/reports/deliverable_4.pdf"><b>Deliverable 4 Report:</b></a> Specific Energy Policies for
the buildings Monitored in this Project:  AHFC Headquarters, Chugach Manor, Glacier View.</p>

<p><a href="https://bms.ahfc.us/static/bmsapp/reports/deliverable_5.xlsx"><b>Deliverable 5 Excel Spreadsheet:</b></a> This Excel
spreadsheet provides a means of Tracking and Charting Energy Usage for AHFC Buildings.</p>

<h2>Training Videos</h2>

<p>Adobe Flash Player must be installed on your computer to view these videos.  Click on the image
of the video's title page to start the video.</p>

<table width="800">
    <tbody>
        <tr>
            <td><a href="https://bms.ahfc.us/training/video/overview/999/955/"><img src="https://bms.ahfc.us/static/bmsapp/images/overview.png" 
            width="320" height="240" border="0" alt="Overview Video"></a></td>
            <td>(10 minutes) This video gives a brief overview the AHFC Building Monitoring System project.  The BMS
            website is introduced, but no detailed training for the website is provided in this video.</td>
        </tr>
        <tr>
            <td><a href="https://bms.ahfc.us/training/video/basic_features/974/941/"><img src="https://bms.ahfc.us/static/bmsapp/images/basic_features.png" 
            width="320" height="240" border="0" alt="Basic Features Video"></a></td>
            <td>(9 minutes) This video shows how to select various various reports and graphs for each building.
            The video also explains a number of graphing features, such as zooming, highlighting points, and hiding
            data series on the graph.  These features are common to all the graphs on the web site, and this
            video is an important one to watch prior to watching the videos below.</td>
        </tr>
        <tr>
            <td><a href="https://bms.ahfc.us/training/video/multiple/975/892/"><img src="https://bms.ahfc.us/static/bmsapp/images/multiple.png" 
            width="320" height="240" border="0" alt="Multiple Building Video"></a></td>
            <td>(13 minutes) This video explains the graphs that are available to compare energy use across
            multiple buildings that are being monitored.  It also describes the "Current Values" report, which
            shows the current sensor readings for any one building.</td>
        </tr>
        <tr>
            <td><a href="https://bms.ahfc.us/training/video/time_series/972/935/"><img src="https://bms.ahfc.us/static/bmsapp/images/time_series.png" 
            width="320" height="240" border="0" alt="Plot over Time Video"></a></td>
            <td>(8 minutes) This video explains the "Plot over Time" graph, also known as the "Time Series" plot.
            This graph lets you graph how one or more sensor values change over time.  This is the
            workhorse graph of the system, so this video is important.</td>
        </tr>
        <tr>
            <td><a href="https://bms.ahfc.us/training/video/hourly_profile/967/931/"><img src="https://bms.ahfc.us/static/bmsapp/images/hourly_profile.png" 
            width="320" height="240" border="0" alt="Hourly Profile Video"></a></td>
            <td>(8 minutes) This video explains the "Hourly Profile" chart.
            This graph lets you graph how a sensor's value changes across the hours in the day.  It also allows
            you to select particular days to look at, such as Monday through Friday or just Saturday.</td>
        </tr>
        <tr>
            <td><a href="https://bms.ahfc.us/training/video/histogram/970/932/"><img src="https://bms.ahfc.us/static/bmsapp/images/histogram.png" 
            width="320" height="240" border="0" alt="Histogram Video"></a></td>
            <td>(6 minutes) This video explains the Histogram chart.
            This graph is good for learning about the range of values measured by a sensor.  It also shows you
            the values are recorded most frequently and least frequently.</td>
        </tr>
        <tr>
            <td><a href="https://bms.ahfc.us/training/video/download/971/896/"><img src="https://bms.ahfc.us/static/bmsapp/images/download.png" 
            width="320" height="240" border="0" alt="Download to Excel Video"></a></td>
            <td>(5 minutes) This video explains how to download sensor data into an Excel spreadsheet.</td>
        </tr>
        <tr>
            <td><a href="https://bms.ahfc.us/training/video/new_sensor/971/896/"><img src="https://bms.ahfc.us/static/bmsapp/images/new_sensor.png" 
            width="320" height="240" border="0" alt="Adding New Sensor Video"></a></td>
            <td>(11 minutes) This video explains how to add a new Monnit Wireless Sensor to the monitoring
            system.  This video is only appropriate for system administrators and is not meant for general
            users of the monitoring system.</td>
        </tr>
    </tbody>
</table>

{% endblock %}
