body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
    font-size: 90%;
}

html {
	margin: 0;
	padding: 0;
	color: #000;
	background: #ffffff;
}

a:link { 
    color: #0B6311; 
    text-decoration: none;
}
a:visited { color: #0B6311; }
a:hover { 
    color: #F5741D; 
	text-decoration: underline;
}
a:active { color: #aaa; }
a.selected-nav-link {
	font-weight: bold;
	color: #000;
}
a.selected-nav-link:hover {
    color: #000;
    text-decoration: none;
}
#wrap {
	width: 950px;
	margin: 0 auto;
	background: #D4E7F7;
}
#header {
	padding: 5px 10px;
	background: #ffffff;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}
#nav {
	padding: 5px 10px;
	background: #B2DBFF;
}
#nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#nav li {
	display: inline;
	margin: 0;
	padding: 10px;
}

#content {
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

#content h1 {
    margin: 0px;
}

#time_period {
    padding: 0px;
    margin: 0 0 10px 0;
}

.ui-button {
    font-size: 85%;
}

.but_lbl {
	font-size: 75%;
}

#chart_container {
    height: 550px;
}

.ui-multiselect {
    font-size: 85%;
}

.ui-multiselect-menu {
    font-size: 85%;
}

table {
    background: #FFFFFF;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
thead {
    background:#EEEEEE;
}
td, th {
    padding-right: 5px;
    padding-left: 5px;
    border: 1px solid #999999;
}
th {
    font-size: 110%;
}
td.number {
    text-align: right;
}
td.indent {
    padding-left: 20px;
}
tr.group_header {
    font-weight: bold;
}

label {
    display: inline-block;
    width: 5em;
}
