.row {
	margin: 0 auto;
    text-align: center;
    background: #d4e7f7
}
.graph, .gauge, .led, .not-current {
	width: 220px; 
	height: 220px; 
	display: inline-block;
    position: relative;
    vertical-align: top; 
    margin: 2px;
    border: 2px solid #4572A7;
    background-color: white;
}
.gauge-canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 220px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}
.led-circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #00BB00;
    margin: 40px auto;
}
.dash-label {
    width: 130px;
	height: 220px;
	display: inline-block; 
    vertical-align: top; 
    margin: 2px;
}
.dash-label h2 {
    padding: 55px 0 0 0;
    text-align: center;
    font-family: "Open Sans", verdana, arial, sans-serif;
    font-size: 18px;
}
.widget-title {
    padding: 5px;
    text-align: center;
    font-family: "Open Sans", verdana, arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.value-label {
    padding: 5px;
    text-align: center;
    font-family: "Open Sans", verdana, arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}